
body {
  background-color: pink;
  padding-left: 30px;
  font-size: 16px;
  font-family: Georgia, helvetica, sans-serif;
}

h1 {
  font-size: 25px;
}

.demo-form fieldset {
  padding-left: 0;
  border: none;
}

.demo-form label {
  display: block;
  margin-bottom: 5px;
}

.demo-form input, .demo-form select {
  display: block;
  width: 250px;
  margin-bottom: 15px;
}

.demo-form input[type="radio"] {
  width: auto;
}

.demo-form input {
  padding: 3px;
}

.demo-form input::placeholder {
  color: red;
  margin-bottom: 10px;
}

.demo-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}

.demo-form input::-moz-placeholder { /* Firefox 19+ */